
<section style="background-color: #c2c2c2;">
    <div class=" pb-5 d-none d-lg-block" style="background-color: #c2c2c2;">
        <div class="form d-flex flex-column">
            <div class="graubg">

                <h2 class="text-black fw-700 fz-40 pb-3 d-flex justify-content-center my-4">Encontrá tu hogar</h2>

                <div class="d-flex justify-content-center">

                    <form method="get" action="/Property/SearchProperty" style="display: flex; gap: 10px;">
                        <div>
                            <select name="state" id="state" class="form-select" aria-label=".form-select-lg example">

                                <option value="">Provincia</option>

                                @foreach (var state in ViewBag.States as SelectList)
                                {
                                    <option value="@state.Text">@state.Text</option>
                                }

                            </select>
                        </div>
                        <div>
                            <select name="location" id="location" class="form-select" aria-label=".form-select-lg example">

                                <option value="">Localidad</option>

                                @foreach (var location in ViewBag.Location as SelectList)
                                {
                                    <option value="@location.Text">@location.Text</option>
                                }

                            </select>
                        </div>
                        <div>
                            <select name="operation" id="operation" class="form-select" aria-label=".form-select-lg example">



                                <option value=''>Operacion</option>
                                <option value='Alquiler'>Alquiler</option>
                                <option value='Venta'>Venta</option>
                                <option value='Emprendimiento'>Emprendimiento</option>



                            </select>
                        </div>

                        <!-- <input type="submit" name="submit" id="submit" value="BUSCAR PROPIEDADES" class="buscar" style='cursor:pointer'> -->
                        <button type="submit" name="submit" id="submit" value="Buscar propiedades" class="btn btn-secondary" style="cursor:pointer">Buscar propiedades <img src="/Assets/lupa.png" alt="logo lupa" width="20px"></button>


                    </form>
                </div>
            </div>
        </div>
    </div>

</section>