@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<footer id="contacto" class="bg-more-light-gray" style="background-color: #c2c2c2;">

    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-sm-6 col-md-4 justify-content-center">
                <div class="mb-3">
                    <h3 class=" fw-700 fz-16 text-dark-gray">Avenida Presidente Peron 75645</h3>
                    <h4 class=" fw-700 fz-16 text-dark-gray">San Justo | Buenos Aires</h4>
                </div>
                <div class="mb-3">
                    <h3 class=" fw-700 fz-16 text-dark-gray">Teléfono</h3>
                    <a href="tel:+1166869650" class="text-dark-gray fz-14">+54 9 11 6686-9650</a> / <a href="tel:4567753434" class="text-dark-gray fz-14">11 5420 4573</a>
                </div>
                <div class="mb-3">
                    <h3 class=" fw-700 fz-16 text-dark-gray">Whatsapp (de 11 a 13 hs.)</h3>
                    <a href="" class="text-dark-gray fz-14">+54 9 11 6686-9650</a> / <a href="" class="text-dark-gray fz-14">+14 4 33 2334-4373</a>
                </div>


                <div class="mb-3">
                    <h3 class=" fw-700 fz-14 text-dark-gray">Email</h3>
                    <a href="" class="text-dark-gray fz-14">hola@TuCasa.net</a>
                </div>
                <div class="mb-3">
                    <h3 class=" fw-700 fz-14 text-dark-gray">Agente responsable</h3>
                    <p class="text-dark-gray fz-14">Roberto Bolaños, NM Nº97565</p>
                </div>
                <div class="mb-3">
                    <a href="#" class="fw-700 fz-14 text-dark-gray">Propiedades |</a>
                    <a href="#" class="fw-700 fz-14 text-dark-gray">Términos y condiciones</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 pb-3">
                <h3 class="text-uppercase fw-700 fz-21 text-dark-gray pb-3">Contactate con nosotros</h3>
                <div class="mb-3">


                    <form asp-action="MensajeNuevo" asp-controller="Contacto" method="POST" id="newsletter">
                        <div class="mb-3">
                            <input  type="text" class="form-control" id="nombre" name="Nombre" aria-describedby="emailHelp" placeholder="Nombre" required>
                            <span  class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" name="Email" aria-describedby="emailHelp" placeholder="Email" required>
                            <span  class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <textarea class="form-control" name="Mensaje" aria-describedby="emailHelp" placeholder="Mensaje" required></textarea>
                            <span  class="text-danger"></span>
                        </div>
                       

                        <div class="d-flex justify-content-end">
                            <div class="spinner-border text-info" id="spinner-newsletter" style="display: none;"></div>
                            <button type="submit" class="btn btn-primary px-4" id="btn-newsletter">Enviar</button>
                        </div>
                    </form>
                </div>
                <div>
                    <h4 class="fw-700 fz-20 text-dark-gray pb-2">Síganos en las redes</h4>
                    <div class="d-flex gap-3">
                        <a href="" target="_blank"><img src="/Assets/facebook-gray.png" alt="facebook hsh" width="30px"></a>
                        <a href="" target="_blank"><img src="/Assets/instagram-gray.png" alt="instagram hsh" width="31px"></a>
                        <a href="" target="_blank"><img src="/Assets/youtube-gray.png" alt="youtube hsh" width="30px"></a>
                        <a href="" target="_blank"><img src="/Assets/tik-tok-gray.png" alt="tiktok hsh" width="30px"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d15609.01048086312!2d-58.5741430701037!3d-34.670099180896756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x95bcc62cc3ef7083%3A0x8306a51b508c4cde!2sFlorencio%20Varela%201903%2C%20B1754JEC%20San%20Justo%2C%20Provincia%20de%20Buenos%20Aires!3m2!1d-34.6660898!2d-58.5665243!5e0!3m2!1ses-419!2sar!4v1685112029389!5m2!1ses-419!2sar" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</footer>

