@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section style="background-color: #FFE4C4; padding:10px;" id="nosotros">
    <div class="container text-center mt-5 px-5 my-5">
        <h2 class="fz-40 text-dark-gray fw-700 pb-3">Nosotros</h2>
        <p class="text-dark-gray">
            Somos un equipo de profesionales expertos y apasionados que se dedica a brindar una atención personalizada del más alto nivel en la búsqueda de tu hogar ideal. Nuestra vasta experiencia en el mercado inmobiliario nos ha permitido perfeccionar nuestros conocimientos y técnicas, lo que garantiza que tu proceso de compra o venta sea un verdadero éxito.

            Nos enorgullece ofrecerte un servicio integral y orientado a tus necesidades específicas. Nos dedicamos a escucharte atentamente para comprender tus preferencias, requisitos y objetivos. De esta manera, podemos adaptar nuestra estrategia para encontrar la propiedad perfecta que se ajuste a tus deseos y presupuesto, o bien, asegurarnos de que obtengas el mejor precio posible al vender tu propiedad.

            Nos destacamos por nuestra ética profesional y nuestro compromiso con la excelencia. Cada transacción inmobiliaria es tratada con la máxima seriedad y responsabilidad. Nos encargamos de todos los detalles, desde la valoración precisa de la propiedad, hasta la promoción efectiva y la negociación hábil.

            Además, nos mantenemos actualizados en cuanto a las últimas tendencias del mercado y las regulaciones inmobiliarias. Esto nos permite brindarte asesoramiento confiable y actualizado en cada paso del proceso, para que tomes decisiones informadas y seguras.
        </p>
    </div>
</section>

