﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        Bienvenidos a nuestra página web que presenta un ejemplo básico de la
        aplicación de blockchain.
    </p>
    <br />
    <a asp-controller="BlockChain" asp-action="ListarTodo" class="btn btn-primary">Listar registros</a>
    <a asp-controller="BlockChain" asp-action="Agregar" class="btn btn-primary">Agregar registro</a>
</div>