html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  height: 100%;
}

body {
  margin-bottom: 10px;
}

.container-fluid{
    padding:0px;
}