﻿
@model string

@{
    ViewData["Title"] = "Analisis de Integridad";
}
<br />
<br />
<h1>Analisis de Integridad</h1>
<br />
<h4>@Model</h4>
<br />
<br />
<br />
<a href="/Home/Index/" class="btn btn-primary">Volver</a>